@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .backdrop-path-gradient-top {
    background: rgb(15,23,42);
    background: linear-gradient(0deg, rgba(15,23,42,1) 0%, rgba(15,23,42,1) 7%, rgba(15,23,42,0) 100%);
  }
  .trailer-gradient-top {
    background: rgb(15,23,42);
    background: linear-gradient(0deg, rgba(15,23,42,1) 0%, rgba(15,23,42,.5) 5%, rgba(15,23,42,0) 100%);
  }

}
